<div class="row">
    <% @menus.each do |menu| %>
        <div class="col-md-6" >
            <div class="card" style="width: 18rem;">
            <%= image_tag menu.picture, class: "card-img-top" %>

            <div class="card-body">
                <h5 class="card-title"><%= menu.name %></h5>
                <p class="card-text menu-description"><%= menu.description %></p>
                <p class="card-text">$<%= menu.price %></p>
                <%= link_to "Show More", menu_path(menu.id), class: "btn btn-light" %>
            </div>
            </div>
        </div>
    <% end %>
</div>